.categories-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  margin-top: 64px;
  
}

.categories-card a.card {
  background-color: var(--background-secondary-color);
  text-decoration: none;
  text-align: center;
  padding: 24px;
  box-sizing: border-box;
  width: 312px;
  height: 220px;
  color: var(--text-primary-color);
}

.categories-card .card h3{
    font-size: 28px;
    font-weight: var( --title-weight);
    
}

.categories-card .card.single-line {
    padding-top: 50px;
}

.categories-card .card.single-line.transfer img{
    margin: 10px 0 20px;

}
