.main-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--background-ternary-color);
}

.content-footer p {
  font-size: 16px;
  padding: 16px 40px 8px;
  line-height: 28px;
  color: var(--background-secondary-color);
}

.social-footer p {
  color: var(--background-secondary-color);
}

@media screen and (min-width: 768px) {
  .main-footer {
    padding: 32px 60px;
  }
  .main-footer p {
    font-size: 20px;
    line-height: 32px;
  }
  .main-footer .footer-social {
    margin-top: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .main-footer {
    flex-direction: row;
    padding: 52px 120px;
    justify-content:space-around
  }
  .main-footer .footer-content {
    text-align: left;
  }
  .main-footer .footer-social {
    width: 165px;
  }
  .main-footer .footer-social p {
    font-size: 16px;
  }
}
