/*CSS RESET*/
body,
img,
h1,
p,
fieldset,
legend,
label,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-ternary-color: #000000;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --text-weight: 400;
  --text-menu-weight: 500;
  --title-weight: 700;
}

body {
  font-family: "Montserrat";
  color: var(--text-primary-color);
}

.section-title h2 {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
}

.button {
  width: 280px;
  height: 64px;
  color: var(--text-secondary-color);
  font-size: 24px;
  font-weight: var(--title-weight);
  background-color: var(--secondary-color);
  border-radius: 16px;
  text-decoration: none;
  display: inline-block;
  line-height: 64px;
}

@media screen and (min-width: 768px) {
  .section-title h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .section-title h2 {
    font-size: 32px;
  }
  .button:hover {
    background-color: var(--primary-color);
  }
}
