header {
  background-color: var(--background-ternary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}

.logo-mobile {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.logo-desktop{
  display: none;
}

.navegation-menu {
  margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-ternary-color);
}

nav {
  display: none;
}

.list-links {
  list-style-type: none;
}
.list-links li {
  margin: 16px 0;
}

.list-links li a {
  text-decoration: none;
  color: var(--background-secondary-color);
  font-weight: var(--title-weight);
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .navegation-menu{
    margin-top: 0;

  }
  .navegation-menu label {
    display: none;
  }
  .navegation-menu nav {
    display: block;
  }
  .list-links{
    display: flex;
    justify-content:space-between;
    width: 467px;
    
  }
  
  
}
@media screen and (min-width: 1024px) {

  .logo-desktop{
    display: block;
  }

  .logo-mobile{
    display: none;
  }

  .list-links :hover {
    color: var(--primary-color)
    
  }
  
}
  
  

