.hero-img {
  height: 400px;
  width: 100%;
  background-image: url(../img/img-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero h2 {
  font-size: 20px;
  margin: 0;
  padding: 88px 50px;
  font-weight: var(--text-weight);
  text-align: center;
  line-height: 1.5;
  color: var(--text-primary-color);
  
 
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    width: 100%;
    background-image: url(../img/img-hero-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    height: 620px;
    width: 100%;
    background-image: url(../img/img-hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 104px 120px;
  }
}
